h2 {
    text-align: center;
    font-family: Inconsolata;
    margin: 25px 0;
}

.subscription-plan {
    display: flex;
    justify-content: space-evenly;
    background-color: #F7F5F9;
    margin-left: 11%;
    max-width: 79%;
}

.subscription-card {
    border: 4px solid #888080;
    text-align: center;
    width: 200px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.subscription-plan-number {
    margin-top: 20px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: Montserrat;
}

.rent-pieces {
    padding-top: 16px;
    font-size: 16px;
}

.picked {
    padding-top: 5px;
    font-size: 14px;
}

.swap {
    padding-top: 20px;
    font-size: 18px;
    font-weight: 600;
}

.total-pieces {
    padding-top: 5px;
    font-size: 14px;
}

h4 {
    padding: 20px 0;
    font-size: 20px;
}