h2 {
    text-align: center;
    font-family: Inconsolata;
    margin-top: 60px;
    margin-bottom: 10px;
}

.subscription {
    background-color: #F7F5F9;
    margin-left: 11%;
    max-width: 79%;
}

#description {
    font-family: Lato;
    margin-left: 185px;
    font-size: 18px;
    text-align: center;
    max-width: 63%;
    padding-top: 24px;
}

.subscription-plan {
    display: flex;
    justify-content: space-evenly;
}

.subscription-card {
    border: 4px solid #888080;
    text-align: center;
    width: 200px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.subscription-plan-number {
    margin-top: 20px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: Montserrat;
}

.rent-pieces {
    padding-top: 16px;
    font-size: 16px;
}

.picked {
    padding-top: 5px;
    font-size: 14px;
}

.swap {
    padding-top: 20px;
    font-size: 18px;
    font-weight: 600;
}

.total-pieces {
    padding-top: 5px;
    font-size: 14px;
}

h4 {
    padding: 20px 0;
    font-size: 20px;
}

.content {
    display: none;
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
    width: 250px;
    position: absolute;
    text-align: initial;
    background: #F7F5F9;
    font-size: 12px;
    padding: 15px;
    transform: translate(-18%, -66%);
}

.content:hover {
    display: block;
}

.info {
    position: absolute;
    transform: translate(410%, -95%);
}

.info:hover+.content {
    display: block;
}

@media(max-width:768px) {
    .subscription-plan {
        flex-direction: column;
        align-items: center;
    }
    #description {
        max-width: 100%;
        margin-left: 0;
    }
}