<h2>STYLE PROFILE SUMMARY</h2>
<h2>SUBSCRIPTION PLANS</h2>

<div class="subscription">
    <p id="description">Whether you want to use us every month or a few times a year, either plan is totally flexible. Pause, cancel, upgrade your plan at anytime.</p>

    <div class="subscription-plan">
        <div *ngFor="let plan of planList; let i = index" class="subscription-card">
            <p class="subscription-plan-number">{{plan.planName}}</p>
            <p class="rent-pieces">Rent {{plan.rentPerPiece}} pieces/month</p>
            <p class="picked">Picked by you or a stylist</p>
            <p class="swap">Swap {{plan.swapPiece}} piece,<br>once a month</p>
            <span class='info'><img src="./../../assets/images/question_mark.jpg"></span>
            <div class='content'>
                <span>{{plan.rentPerPiece}} pieces:</span>
                <br> A swap means that once a month, you can send back {{plan.swapPiece}} piece of your {{plan.rentPerPiece}} piece box and receive something different. Whether it’s because you want something new or you’re just not in love with one of
                the items, a swap gives you flexibility and more variety.
            </div>
            <p class="total-pieces">Giving you up to {{plan.totalPiece}} total<br> pieces/month</p>
            <h4>${{plan.price}}/month</h4>
        </div>
    </div>
</div>