.faq {
    background-color: #F7F5F9;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 4%;
}

h3 {
    text-align: center;
    margin-bottom: 30px;
    padding-top: 20px;
}

.questions {
    padding: 1% 8%;
    text-align: justify;
}