<h2>STYLE PROFILE SUMMARY</h2>

<div *ngFor="let profile of profileList; let i = index;" class="profile-summary">

    <div>
        <div class="profile_card_title detail">

            <div class="detail-img">

                <img src="./../../assets/images/billing detail.jpg" /> Your Details

            </div>

        </div>

        <br />

        <div class="details">

            <div class="detail">

                <div class="detail-img">

                    <img src="./../../assets/images/height.jpg" /> Height

                </div>

                <span> {{ profile.height }}</span>

            </div>

            <div class="detail">

                <div class="detail-img">

                    <img src="./../../assets/images/dress size.jpg" /> Dress Size

                </div>

                <span> {{ profile.dressSize }}</span>

            </div>

            <div class="detail">

                <div class="detail-img">

                    <img src="./../../assets/images/top size.jpg" /> Top Size

                </div>

                <span> {{ profile.topSize }}</span>

            </div>

            <div class="detail">

                <div class="detail-img">

                    <img src="./../../assets/images/pantsize.jpg" /> Pant Size

                </div>

                <span> {{ profile.pantSize }}</span>

            </div>

        </div>
    </div>
    <div>

        <div class="profile_card_title detail">

            <div class="detail-img">

                <img src="./../../assets/images/your fit.jpg" /> Your Fit

            </div>

        </div>

        <br />

        <div class="details">

            <div class="detail">

                <div class="detail-img">

                    <img src="./../../assets/images/TOP HALF.jpg" /> Top Half

                </div>

                <span> {{ profile.topHalf }}</span>

            </div>

            <div class="detail">

                <div class="detail-img">

                    <img src="./../../assets/images/BOTTOM HALF.jpg" /> Bottom Half

                </div>

                <span> {{ profile.bottomHalf }}</span>

            </div>

            <div class="detail">

                <div class="detail-img">

                    <img src="./../../assets/images/flaunt.jpg" /> Flaunt
                </div>

                <span> {{ profile.flaunt }}</span>

            </div>

            <div class="detail">

                <div class="detail-img">

                    <img src="./../../assets/images/downplay.jpg" /> Downplay

                </div>

                <span> {{ profile.downPlay }}</span>

            </div>

        </div>
    </div>
    <div>

        <div class="profile_card_title detail">

            <div class="detail-img">

                <img src="./../../assets/images/your style needs.jpg" /> Your Style Needs

            </div>

        </div>

        <br />

        <div class="details">

            <div class="detail">

                <div class="detail-img">

                    <img src="./../../assets/images/focus.jpg" /> Focus

                </div>

                <span> {{ profile.focus }}</span>

            </div>

            <div class="detail">

                <div class="detail-img">

                    <img src="./../../assets/images/incorporate.jpg" /> Incorporate

                </div>

                <span> {{ profile.incorporate }}</span>

            </div>

            <div class="detail">

                <div class="detail-img">

                    <img src="./../../assets/images/avoid.jpg" /> Avoid
                </div>

                <span> {{ profile.avoid }}</span>

            </div>
        </div>
    </div>

</div>